@font-face {
    font-family: "Roboto Slab";
    src: url(./RobotoSlab-VariableFont_wght.ttf);
}

:root {
    --padding-main: 20px;
    --main-color: white;
    --contrast-color: black;
    --transparent: rgba(0,0,0,0);
    --semi-main-color: rgba(220,220,220);
    --semi-transparent-main-color: rgba(255,255,255,0.55);
    --glass-main-color: rgba(255,255,255,0.30);
}

html {
    overflow-x: hidden;
}

* {
    color: var(--main-color);
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: calc(100vh - 2*(var(--padding-main)));
    
    padding: var(--padding-main);
}

.background {
    width: 100vw;
    height: 100vh;
    filter: hue-rotate(300deg) brightness(40%) saturate(70%);
    transform: scale(110%);
    position: fixed;
    z-index: -1;
}

.background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: var(--padding-main);

    width: calc(100vw - 2*(var(--padding-main)));
}


.logo{
    width: 60px;
}

.options {
    width: 30px;
}

.options-icon {
    filter: invert(100%);
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--padding-main);
    text-align: center;

    position: fixed;
    top: 100px;
}

.title {
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 4px;
}

.tabs {
    display: flex;
    justify-content: center;

    gap: var(--padding-main);
}

.tab {
    padding: 10px 20px;

    border:  solid 1px rgba(0,0,0,0);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3px;
    color: var(--contrast-color);
    background-color: var(--main-color);

    border-radius: 20px;
}

.tab.selected {
    color: var(--main-color);
    background: var(--transparent);
    border: solid 1px var(--main-color);
}

.tab:not(.selected):hover {
    background-color: var(--semi-transparent-main-color);
    border: solid 1px var(--main-color);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding-top: calc(var(--padding-main) * 2);
    gap: calc(var(--padding-main) * 2);
}


.menu-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;

    padding: 20px 40px;
    background-color: var(--glass-main-color);
    border-radius: 40px;
    width: 60vw;
}

.menu-item:hover {
    background-color: var(--semi-transparent-main-color);
}

.menu-item-title {
    font-size: 36px;
    text-align: left;
    font-weight: 700;
}

.menu-item-description {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 10px;
    text-align: left;
    font-style: italic;

    color: var(--semi-main-color);
}

.menu-item-price {
    display: flex;
    align-items: center;
    justify-content: right;

    grid-column: 2;
    grid-row: 1 / span 2;    

    font-size: 20px;
}



@media (max-width: 800px) {

    .title {
        font-size: 50px;
    }

    .tab {
        width: 150px;
        font-size: 18px;
        padding: 10px;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        width: max(55vw, 300px);
    }

    .menu-item-title {
        font-size: 24px;
    }

    .menu-item-price {
        font-size: 18px;
        justify-content: center;
    }

    .menu-item > div {
        text-align: center;
    }

    @media (max-width: 560px) {
        .tabs {
            flex-direction: column;
            align-items: center;
        }
    }
}