@font-face {
    font-family: "Roboto Slab";
    src: url(./RobotoSlab-VariableFont_wght.ttf);
}

:root {
    --padding-main: 20px;
    --main-color: white;
    --contrast-color: black;
    --transparent: rgba(0,0,0,0);
    --semi-transparent-main-color: rgba(255,255,255,0.75);
}

* {
    color: var(--main-color);
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 2*(var(--padding-main)));
    
    padding: var(--padding-main);
}

.background {
    width: 100vw;
    height: 100vh;
    filter: hue-rotate(300deg) brightness(40%) saturate(70%);
    transform: scale(110%);
    position: fixed;
    z-index: -1;
}

.background-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: var(--padding-main);

    width: calc(100vw - 2*(var(--padding-main)));
}


.logo{
    width: 60px;
}

.menu {
    width: 20px;
}

.menu-svg {
    filter: invert(100%);
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--padding-main);
    text-align: center;
}

.title {
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 4px;
}

.tabs {
    display: flex;
    justify-content: center;

    gap: var(--padding-main);
}

.tab {
    padding: 10px 20px;

    font-weight: 700;
    letter-spacing: 0.3px;
    color: var(--contrast-color);
    background-color: var(--main-color);

    border-radius: 20px;
}

.tab.selected {
    color: var(--main-color);
    background: var(--transparent);
    border: solid 1px var(--main-color);
}

.tab:not(.selected):hover {
    background-color: var(--semi-transparent-main-color);
}

@media (max-width: 700px) {

    .title {
        font-size: 50px;
    }

    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        width: 100px;
    }
}